* {
  margin: 0 auto;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
    line-height: 1;
}


#links {
   font-family: Montserrat, Arial, Helvetica, sans-serif;
   position: relative;
   padding: 2em;
   background: rgb(240, 240, 240);
   text-align: center;
   box-shadow: 10px 5px 5px black;
}

.btn {
    transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(53, 53, 53);
    margin-left: 15px;
    transition: all 0.5s;
}   

.btn:hover {
    font-weight: 800;
    color: aqua;
    text-decoration:overline;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    background: linear-gradient(rgb(240, 240, 240), white);
    display: flex;
    flex-direction: column;
    }

.banner {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10rem 2.5rem;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


h1{
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
    color: rgb(53, 53, 53);;
    line-height: 4.2rem;

}

.Nome {
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
    color: #F9F9F9;
    line-height: 4.2rem;
    display: block;
    color: aqua;
}

.pe {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #828282;
}
 
.foto {
    margin: 0;
    padding: 0px;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    padding: 1.2rem 2.7rem;
   
}

img {
    cursor: pointer;
    transition: 0.2s;
    max-width: 100%;

}

img:hover {
    transform: scale(1.1);
}
