* {
  margin: 0 auto;
  padding: 0;
}

#links {
   font-family: Montserrat, Arial, Helvetica, sans-serif;
   position: relative;
   padding: 2em;
   background: rgb(240, 240, 240);
   text-align: center;
   box-shadow: 10px 5px 5px black;
}

.btn {
    transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(53, 53, 53);
    margin-left: 15px;
    transition: all 0.5s;
}   

.btn:hover {
    font-weight: 800;
    color: aqua;
    text-decoration:overline;
}

.home {
    background: linear-gradient(rgb(240, 240, 240), white);
    text-align: left;
    margin-top: 10px;

}